<p style="color: green" id="notice"><%= notice %></p>

<%= turbo_frame_tag "room" do %>
  <p>
    <strong>Name: </strong>
    <%= @room.name %>
  </p>
    <p>
    <strong>check ?: </strong>
    <%= @room.check %>
  </p>
  <p>
    <%= link_to "Edit this room", edit_room_path(@room) %> |
    <%= link_to "Back to rooms", rooms_path, "data-turbo-frame": "_top" %>
  </p>
<% end %>

<div id="articles">
  <%= render @room.articles %>
</div>
<%#= link_to "New article", new_room_article_path(@room) %>
<%= turbo_frame_tag "new_article", src: new_room_article_path(@room), target: "_top" %>
<%#= button_to "Destroy this room", @room, method: :delete %>
