<p style="color: green" id="notice"><%= notice %></p>

<p>
<strong>Name: </strong>
<%= @room.name %>
</p>

  <p>
    <%= link_to "Edit this room", edit_room_path(@room) %> |
    <%= link_to "Back to rooms", rooms_path %>
  </p>

<div id="articles">
<%= render @room.articles %>
</div>
<%= link_to "New article", new_room_article_path(@room) %>

  <%#= button_to "Destroy this room", @room, method: :delete %>
